

h1{
    text-align: center;
    size: 50px;
    color: red;
    margin-top: 30px;
}
body{
    background-color: white;
}
.zata{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    size: 90px;
    color: blue;
    
}